body {
    background: url('hbground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 500px;
    height: 600px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 150px;
    text-align: center;
    background-color: #dcdbdb;
}

/* .bground {
    width: 500px;
    height: 170px;
    margin-top: auto;
    opacity: .1;
} */

.sidebar {
    position: relative;
    top:auto;
    left:auto;
    width: 350px;
    height: 530px;
    background-color: #dcdbdb;
    border: 1px solid;
}

.list {
    list-style: none;
    position: relative;
    top:auto;
    left:auto;
    text-align: left;
    color: black;
}

.a {
    position: relative;
    width: 330px;
    top:-15px;
    left: -40px;
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b1b1b1;
}


.container .bpass {
    position:relative;
    top: -150px;
    left: -130px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
}

.desc {
    position: relative;
    top: -270px;
    left: 60px;
    font-size: 30px;
}

.sent {
    position: relative;
    top: -290px;
    left: 52px;
    font-size: 15px;
}

.qr {
    position: relative;
    top: -220px;
    left: 10px;
    width: 150px;
    height: 150px;
}

.scan {
    position: relative;
    padding-right: 20px;
    top: -220px;
    left: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 25px;
    color: #b1b1b1;
}

.fn, .d {
    position: relative;
    top: -230px;
    left: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}


input[type="submit"] {
    position: relative;
    top: -180px;
    left: 10px;
    width: 430px;
    height: 44px;
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: yellow;
}

.footer {
    position: relative;
    top: 0px;
    width:500px;
    height: 70px;
    display:block;
    background-color: black;
    text-align: left;
}
#cleft {
    color: white;
    margin: 0px 10px 0px 120px; 
}

#circle {
    color: white;
    margin-bottom: 20px;
    margin-left: 70px;
}

#square {
    color: white;
    margin-bottom: 20px;
    margin-left: 70px;
}